.animation__message-woman {
    position: absolute;
    scale: 90%;
    top: 41%;
    left: 5%;
    animation: woman 15s ease-in infinite;
}

@keyframes woman {

    0%,
    10% {
        opacity: 0;
    }

    12%,
    25% {
        opacity: 100;
    }

    27% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.animation__message-man {
    position: absolute;
    top: 30%;
    left: 20%;
    animation: man 15s ease-in infinite;
}

@keyframes man {

    0%,
    40% {
        opacity: 0;
    }

    42%,
    55% {
        opacity: 100;
    }

    57% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.animation__message-manSecond {
    position: absolute;
    top: 30%;
    left: 20%;
    animation: manSecond 15s ease-in infinite;
}

@keyframes manSecond {

    0%,
    88% {
        opacity: 0;
    }

    90%,
    97% {
        opacity: 100;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.animation__message-driver {
    position: absolute;
    top: 40%;
    left: 60%;
    animation: driver 15s ease-in infinite;
    z-index: 3;
}

@keyframes driver {

    0% {
        opacity: 0;
    }

    60% {
        opacity: 0;
    }

    62%,
    87% {
        opacity: 100;
    }

    89% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

// texts for people's messages

.animation__message-mantext {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 25%;
    left: 23%;
}

.animation__message-drivertext {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 15px;
    width: 130px;
    position: absolute;
    top: 4%;
    left: 10%;
}

.animation__message-womantext {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    position: absolute;
    top: 20%;
    left: 15%;
}