.header {
    display: flex;
    align-items: center;
    max-width: 1178px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 62px;
    justify-content: space-between;
  }
  
  .header__leftblock {
    display: flex;
    align-items: center;
  }
  
  .header__link-index {
    display: block;
    background-repeat: no-repeat;
    background-position: center;
    height: 52px;
    width: 100px;
    background-image: url(../img/LOGO.svg);
    margin-left: -2px;
  }
  
  .header__link-index:hover {
    opacity: 50%;
  }
  
  .header__link-index:active {
    opacity: 20%;
  }