.header {
    z-index: 3;
    display: flex;
    align-items: center;
    max-width: 1178px;
    margin: 50px auto 62px;
    justify-content: space-between;

    @media screen and (max-width: 900px) {
      margin: 20px auto 62px;
    }

    @media screen and (max-width: 610px) {
      margin: 10px auto 52px;
    }
    &__menu{
      display: none;
      @media screen and (max-width: 900px) {
        display: flex;
        justify-content: center;
      }
      &-btn{
      font-family: "Open Sans";
      color: #1E0606;
      font-size: 14px;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      border: none;
      background-color: transparent;
      cursor: pointer;
      margin-left: -50px;

      &:hover {
        transition: 0.3s;
        opacity: 50%;
      }
      &:active {
        transition: 0.3s;
        opacity: 20%;
      }

      @media screen and ( max-width: 610px) {
        margin-left: -40px;
      }
      }
      &-hide{
        display: none;
      }
    }
    &__leftblock {
      display: flex;
      align-items: center;
    }
    &__link{
      &-index {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        height: 52px;
        width: 100px;
        background-image: url(../img/LOGO.svg);
        margin-left: -2px;
        @media screen and (max-width: 900px) {
          background-image: url(../img/LOGOtablet.svg);
          margin-left: -18px;
        }
        @media screen and (max-width: 610px) {
          background-image: url(../img/LOGOmobile.svg);
          margin-left: -28px;
        }
        &:hover {
          transition: 0.3s;
          opacity: 50%;
        }
        &:active {
          transition: 0.3s;
          opacity: 20%;
        }
      }
    }
    &__nav{
      @media screen and (max-width: 900px) {
        display: none;
      }
      &-list {
        display: flex;
        font-size: 14px;
        line-height: 19px;
        margin-left: 50px;
        @media screen and (max-width: 836px) {
          justify-content: center;
          margin: 0;
          gap: 9px;

        }
      }
      &-item {
        margin: 10px;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 400;
        list-style-type: none;
        color: #1E0606;
        white-space: nowrap;
        @media screen and (max-width: 836px) {
          margin: 10px 5px;
        }
        &>a:visited {
          color: #1E0606
        }
        &>a:hover{
          transition: 0.3s;
          opacity: 50%;
        }
        &>a:focus{
          transition: 0.3s;
          opacity: 50%;
        }
        &>a:active {
          transition: 0.3s;
          opacity: 20%;
        }
        &>a {
          text-decoration: none;
        }
      }
    }
    &__row{
      &-list {
        display: flex;
        align-items: center;
        font-size: 14px;
      }
      &-item {
        margin: 11px;
        font-family: 'Open Sans', Arial, sans-serif;
        font-weight: 700;
        list-style-type: none;
        color: #1E0606;
        white-space: nowrap;
        &>a:visited {
          color: #1E0606
        }
        &>a:hover{
          transition: 0.3s;
          opacity: 50%;
        }
        &>a:focus{
          transition: 0.3s;
          opacity: 50%;
        }
        &>a:active {
          transition: 0.3s;
          opacity: 20%;
        }
        &>a {
          text-decoration: none;
        }
      }
      &-contactus{
        @media screen and (max-width: 900px) {
          display: none;
        }
      }
    }
    &__search{
      &-icon {
        display: block;
        background-repeat: no-repeat;
        background-position: center;
        height: 30px;
        width: 30px;
        margin-right: -1px;
        background-image: url(../img/search.svg);
        @media screen and (max-width: 900px) {
          margin-right: -7px;
        }
        @media screen and (max-width: 610px) {
          background-image: url(../img/searchmobile.svg);
        }
        &:hover {
          transition: 0.3s;
          opacity: 50%;
        }
        &:active {
          transition: 0.3s;
          opacity: 20%;
        }
      }
      &-hide {
        display: none;
      }    
    }
    &__link {
      padding-left: 5px;
      margin-right: -12px;
    }
  }

  // A separate style for the catalog header width
  .headerCatalog {
    @media screen and ( max-width: 900px ) {
      max-width: 670px;
    }
  }
  