.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #7c96dacc;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
}

.open {
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.modal.open .modal__content {
    transform: perspective(600) translate(0px, 0%) rotate(0deg);
    opacity: 1;
}

.modal__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

.modal__content {
    max-width: 680px;
    background-color: #E5EAF8;
    position: relative;
}

/* closer cross */

.modal__close {
    position: absolute;
    margin-right: -25px;
    margin-top: -15px;
    right: 0px;
    width: 15px;
    height: 15px;
    background-image: url(../img/closemodal.svg);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

.modal__close:hover {
    opacity: 70%;
    cursor: pointer;
}

.modal__close:active {
    opacity: 40%;
}

.modal__form {
    max-width: 680px;
    display: flex;
    flex-direction: column;
    background-color: #E5EAF8;
    padding: 42px 40px;
    gap: 20px;
    margin-top: -15px;
}

.modal__label {
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 4px;
}


.modal__container-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal__container-name,
.modal__container-tel,
.modal__container-email,
.modal__container-message {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.modal__submit {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
    padding: 10px 22px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    max-width: fit-content;
    cursor: pointer;
    margin-top: -6px;
}

.modal__submit:hover {
    background-color: #C29974;
}

.modal__submit:active {
    background-color: #CFAF91;
}

.modal__submit:disabled {
    background-color: #C1C1C1;
}

.modal__container-tel,
.modal__container-email {
    width: 100%;
}

.modal__container-email {
    margin-left: 20px;
}

.modal__input {
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding-left: 20px;
    border: 1px solid rgba(0, 0, 0, 0.20);
}

.modal__name,
.modal__telephone,
.modal__email {
    height: 50px;
}

.modal__textaria{
    font-family: 'Open Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    height: 140px;
    width: 590px;
    padding: 15px 20px 0;
    border: 1px solid rgba(0, 0, 0, 0.20);
    resize: none;
    outline: none;
}

.modal__name {
    padding-left: 20px;
    font-size: 18px;
    color: #000000;
}

.modal__container-description {
    display: flex;
    align-items: start;
    gap: 15px;
}

.modal__input-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;
    width: 19px;
    height: 19px;
    z-index: 1;
    cursor: pointer;
}

.modal__span {
    width: 19px;
    height: 19px;
    position: absolute;
    background-image: url(../img/contactUS/checkbox.svg);
}

.modal__description-label {
    margin-left: 35px;
    margin-top: 2px;
}

.modal__input-checkbox:hover~.modal__description-label {
    text-decoration: underline;
}

.modal__input-checkbox:checked+.modal__span {
    background-image: url(../img/contactUS/checkboxchecked.svg);
}

.modal__input-checkbox:disabled+.modal__span {
    background-image: url(../img/contactUS/checkdisabled.svg);
}

.modal__input-checkbox:disabled~.modal__description-label {
    color: #908484;
}