
.pagination{
    width: 1174px;
    display: flex;
    justify-content: space-between;
    &__list {
      list-style-type: none;
      display: flex;
      justify-content: space-between;
      max-width: 234px;
      gap: 66px;
    }
    &__item {
        &>a {
        text-decoration: none;
        font-family: 'Montserrat', Arial, sans-serif;
        font-weight: 700;
        font-size: 16px;
        color: #1E0606;
        }
        &:first-child>a {
          color: #C29974;
        }
        &:hover>a {
          color: #AAAAAA;
          transition: 0.3s;
        }
    }
    &__arrowleft {
      width: 20px;
      height: 30px;
      background-image: url(../img/arrow.svg);
      opacity: 12%;
      background-repeat: no-repeat;
      transform: rotate(180deg);
      background-position: center;
      margin-top: -6px;
      margin-left: -1px;
      &:hover {
        width: 20px;
        height: 30px;
        background-image: url(../img/arrowhover.svg);
        opacity: 100%;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        background-position: center;
        transition: 0.3s;
      }
      &:active {
        width: 20px;
        height: 30px;
        background-image: url(../img/arrowhover.svg);
        opacity: 70%;
        background-repeat: no-repeat;
        transform: rotate(180deg);
        background-position: center;
      }
    }
    &__arrowRight {
      width: 20px;
      height: 30px;
      background-image: url(../img/arrow.svg);
      opacity: 12%;
      background-position: center;
      margin-top: -6px;
      margin-right: -5px;
      &:hover {
        width: 20px;
        height: 30px;
        background-image: url(../img/arrowhover.svg);
        opacity: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s;
      }
      &:focus {
        width: 20px;
        height: 30px;
        background-image: url(../img/arrowhover.svg);
        opacity: 100%;
        background-repeat: no-repeat;
        background-position: center;
        transition: 0.3s;
      }
      &:active {
        width: 20px;
        height: 30px;
        background-image: url(../img/arrowhover.svg);
        opacity: 70%;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }