.slider{
  &__img {
    position: absolute;
    &:hover{
      scale: 103%;
      transition: 0.5s;
    }
  }
  &__item {
    margin: 0 10px;
    width: 280px;
    height: 270px;
    &>img {
      position: absolute;
    }
  }
  &__link {
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    top: 51%;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    &:hover{
      text-decoration: underline;
    }
    &:focus {
      transition: 0.3s;
      text-decoration: underline;
    }
    &:visited {
      color: white;
    }
    &-kids {
      margin-top: -1px;
    }
  }
  &__kids {
    margin-left: 0;
    background-color: #DBE4DB;
    &>img {
      margin-top: 46px;
      margin-left: 18px;
    }
  }
  &__shop {
    background-color: #EADDD3;
    &>img {
      margin-top: 13px;
      margin-left: 36px;
    }
  }
  &__kids>a,
  &__shop>a {
    top: 40%;
  }
  &__toys {
    background-color: #F8F2DA;
  }
  &__accesories {
    margin-right: 0;
    background-color: #D5D4E1;
    &>img {
      margin-top: 10px;
      margin-left: 20px;
    }
  }
  &__buttons{
    display: flex;
    margin-top: 31px;
    &>button:hover {
      cursor: pointer;
    }
  }
  &__text {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 580px;
    margin-left: 20px;
    line-height: 22px;
  }
}