// Buttons conditions

@mixin btn-hover {
  transition: 0.3s;
  background-color: #c29974;
  color: #ffffff;
}

@mixin btn-active {
  background-color: #cfaf91;
  color: #ffffff;
}

@mixin btn-disabled {
  background-color: #c7c1c1;
  color: #ffffff;
}

// Buttons visual
@mixin btn {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 11px 23px;
  text-align: center;
  background-color: #000000;
  color: #ffffff;
  border: 0;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    @include btn-hover;
  }
  &:active {
    @include btn-active;
  }
  &:disabled {
    @include btn-disabled;
  }
}
