.animation {
  position: relative;
  overflow: hidden;

  &__clouds {
    position: absolute;
    z-index: 1;
    width: 100%;
    top: 0;
    left: 2%;

    &-sky {
      position: absolute;
      width: 210%;
      z-index: 2;
      scale: 85%;
      top: -1%;
      right: -40%;
      animation: sky 20s ease-in-out infinite;
    }

    @keyframes sky {
      50% {
        right: -33%;
      }

      100% {
        right: -40%;
      }
    }
  }

  &__city {
    width: 100%;
    margin-top: 11%;
    margin-bottom: 5%;
    scale: 115%;
  }

  &__cars {
    position: absolute;
    top: 53%;
    scale: 70%;
    width: 100%;

    &-one {
      position: absolute;
      z-index: 1;
      padding-top: 5%;
      animation-name: carOne;
      animation-duration: 5s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
      width: 52%;
    }

    &-two {
      position: absolute;
      z-index: 0;
      margin-right: -50px;
      animation-name: carTwo;
      animation-duration: 15s;
      animation-timing-function: ease-in;
      animation-iteration-count: infinite;
      width: 42%;
    }

    &-three {
      position: absolute;
      animation-name: carThree;
      animation-duration: 3s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in;
      z-index: -1;
      width: 47%;
      padding-top: 2%;
    }

    &-four {
      position: absolute;
      padding-top: 1%;
      z-index: 2;
      animation: carFour 10s ease-in infinite;
      width: 63%;
    }
  }

  &__list {
    position: absolute;
    list-style-type: none;
    display: flex;
    gap: 5%;
    width: 40%;
  }

  // keyframes for cars

  @keyframes carOne {
    0% {
      margin-left: -670px;
    }

    100% {
      margin-left: 2000px;
    }
  }

  @keyframes carTwo {
    0% {
      margin-left: -600px;
    }

    100% {
      margin-left: 2000px;
    }
  }

  @keyframes carThree {
    0% {
      margin-left: -700px;
    }

    100% {
      margin-left: 2000px;
    }
  }

  @keyframes carFour {
    0% {
      margin-left: -800px;
    }

    100% {
      margin-left: 2000px;
    }
  }

  &__lanterns {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    top: 20%;
    scale: 80%;
    width: 26%;
    height: 59%;
    left: 2%;
  }

  &__taxi {
    position: absolute;
    width: 75%;
    top: 47%;
    left: 94%;
    scale: 80%;
    z-index: 3;
    animation: taxi 15s ease-in-out infinite;
  }

  @keyframes taxi {
    0%,
    30% {
      left: 94%;
    }

    50%,
    90% {
      left: 34%;
    }

    100% {
      left: -78%;
    }
  }

  &__lantern {
    position: absolute;
    width: 18%;
    top: 18%;
    left: 73%;
    scale: 80%;
    z-index: 4;
    height: 83%;

    &-light {
      &-one {
        position: absolute;
        left: 79%;
        top: 15%;
        z-index: 4;
        opacity: 10%;
        width: 16%;
        animation: lightOne 2s ease-in-out infinite;
      }

      @keyframes lightOne {
        0% {
          opacity: 75%;
        }

        50% {
          opacity: 100%;
        }

        100% {
          opacity: 75%;
        }
      }

      &-two {
        position: absolute;
        left: 68%;
        top: 15%;
        z-index: 4;
        opacity: 70%;
        width: 16%;
        animation: lightTwo 2s ease-in-out infinite;
      }

      @keyframes lightTwo {
        0% {
          opacity: 75%;
        }

        50% {
          opacity: 100%;
        }

        100% {
          opacity: 75%;
        }
      }
    }
  }

  &__people {
    position: absolute;
    width: 29%;
    top: 44%;
    left: 10%;
    scale: 85%;
    z-index: 4;
    white-space: nowrap;

    &-woman {
      position: relative;
      z-index: 1;
      width: 56%;

      &-hand {
        position: absolute;
        right: 69%;
        top: 56%;
        left: 12%;
        z-index: 1;
        width: 19%;
        animation: womanHand 15s ease-in-out infinite;
      }

      @keyframes womanHand {
        0%,
        10% {
          transform: rotate(0);
          transform-origin: 1 0 0;
        }

        16%,
        24% {
          transform: rotate(-45deg);
          transform-origin: 0 0 0;
        }

        30% {
          transform: rotate(0deg);
          transform-origin: 0 0 0;
        }

        100% {
          transform: rotate(0deg);
          transform-origin: 0 0 0;
        }
      }
    }

    &-man {
      position: relative;
      margin-left: -18%;
      width: 60%;

      &-hand {
        position: absolute;
        z-index: 0;
        right: 30%;
        bottom: 75%;
        transform: rotate(125deg);
        transform-origin: bottom left;
        animation: manHand 15s ease-in-out infinite;
        width: 25%;
      }

      @keyframes manHand {
        0%,
        35% {
          transform: rotate(125deg);
          transform-origin: bottom left;
        }

        42%,
        48% {
          transform: rotate(-1deg);
          transform-origin: bottom left;
        }

        55% {
          transform: rotate(125deg);
          transform-origin: bottom left;
        }

        100% {
          transform: rotate(125deg);
          transform-origin: bottom left;
        }
      }
    }
  }
}
