.articles {
    max-width: 1178px;
    margin: auto;
    margin-bottom: 57px;
    &__title {
        opacity: 0;
        position: absolute;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 auto 17px;
        list-style-type: none;
    
    }
    &__lowRow {
        margin-top: 33px;
    }
}