.catalog {
    max-width: 1178px;
    margin: auto;
    margin-top: 52px;
    &__upperlist {
        display: flex;
        gap: 20px;
        width: 1080px;
        list-style-type: none;
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 26px;
        font-weight: 700;
    }
    &__lowerlist {
        margin-top: 23px;
        display: flex;
        gap: 20px;
        justify-content: flex-end;
        width: 1080px;
        list-style-type: none;
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 26px;
        font-weight: 700;
    }
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 270px;
        & > a {
            max-width: 200px;
            z-index: 1;
            position: absolute;
            text-align: center;
        }
    }
    &__apparel {
        background-color: #dbe4db;
    }
    &__holiday {
        background-color: #eaddd3;
    }
    &__toys {
        background-color: #f8f2da;
    }
    &__accesories {
        background-color: #d5d4e1;
    }
    &__sale {
        background-color: #f3d0db;
    }
    &__adults {
        background-color: #e5eaf8;
    }
    &__link {
        color: #ffffff;
        text-decoration: none;
        &:hover,
        &:active {
            text-decoration: underline;
        }
    }
    &__img {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    &__title {
        font-family: "Montserrat", Arial, sans-serif;
        font-size: 38px;
        font-weight: 700;
        text-transform: uppercase;
    }
    &__discription {
        &-owerflow {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 15px;
            margin-top: 26px;
        }
    }
    &__text {
        font-family: "Open Sans", Arial, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }
    &__textblock {
        max-width: 680px;
        margin: 56px auto 56px 17%;
    }
}
