@import "_variables.base";
@import "_mixins";

/*
  Import vendor libraries
*/
@import "vendor/_normalize";

/*
  Import utils classes and base styles
*/
@import "_utils";
@import "_base";
@import "_fonts";

@import "toys.scss";
@import "contact-us.scss";
@import "catalog.scss";
@import "blog.scss";
@import "animation.scss";
@import "svg.scss";

/*
  Import all other blocks
*/
@import "_blocks/container";
@import "_blocks/header";
@import "_blocks/footer";
@import "_blocks/articles__item";
@import "_blocks/slider__item";
@import "_blocks/pagination__pages";
@import "_blocks/crumps";
@import "_blocks/modal";
@import "_blocks/animation__message";
@import "_blocks/star";
@import "_blocks/mobile__menu";

/*
  Ниже пример подключения других блоков

  Каждый новый файл должен отвечать за конкретный блок в терминах БЭМ
  (https://ru.bem.info/methodology/key-concepts/#%D0%B1%D0%BB%D0%BE%D0%BA)

  Для именования селекторов давайте придерживаться стиля two dashes
  (https://ru.bem.info/methodology/naming-convention/#%D1%81%D1%82%D0%B8%D0%BB%D1%8C-two-dashes)
  block-name__element-name--modificator
*/

.banner {
  position: relative;
  max-width: 1180px;
  margin: 129px auto 0;
  display: flex;
  height: 411px;
  background-color: #eee4db;

  @media screen and (max-width: 1071px) {
    margin-top: -40px;
  }

  @media screen and (max-width: 900px) {
    margin: -40px 60px 0;
  }
  @media screen and (max-width: 766px) {
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media screen and (max-width: 660px) {
    width: 100%;
    margin: -40px 0;
  }

  @media screen and (max-width: 610px) {
    height: 448px;
  }

  &__slider {
    display: flex;
    flex-direction: column;
    margin-top: 17px;
    margin-left: 30px;
    @media screen and (max-width: 865px) {
      margin-left: 0;
    }
    @media screen and (max-width: 766px) {
      order: 2;
      margin-right: 10px;
      align-items: end;
    }

    &-number {
      position: relative;
      top: 1%;
      left: -3%;
      font-family: "Montserrat", Arial, sans-serif;
      font-weight: 200;
      font-size: 60px;
      color: #1e0606;
      opacity: 5%;
      // margin-left: 28px;
      @media screen and (max-width: 768px) {
        font-size: 48px;
      }
      @media screen and (max-width: 766px) {
        // margin-left: 38px;
      }
    }

    &-list {
      list-style: none;
      margin-top: 4%;
      outline: none;
      @media screen and (max-width: 766px) {
        // margin-left: 50px;
      }
    }

    &-item {
      width: 31px;
      height: 3px;

      &:not(:first-child) {
        margin-top: 11px;
      }
    }

    &-item > button {
      background-color: #d6cac2;
      border: 0;
      width: 31px;
      height: 3px;
    }

    &-item > button:hover {
      background-color: #1e060699;
      cursor: pointer;
      transition: 0.3s;
    }

    &-item > button:focus {
      background-color: #725f5b;
    }
  }

  &__wrapper {
    flex: 1;
    position: relative;
    display: flex;
    max-width: 636px;
    min-width: 368px;
    width: 100%;
    @media screen and (max-width: 766px) {
      margin: 0 24%;
      max-width: 368px;
      order: 3;
      justify-content: end;
      min-width: 292px;
    }
    @media screen and (max-width: 470px) {
      min-width: 265px;
    }
  }

  &__img {
    position: absolute;
    bottom: 39px;
    right: -22px;
    width: 100%;
    height: auto;
    max-width: 636px;
    align-self: flex-end;
    margin-right: 20px;
    @media screen and (max-width: 892px) {
      margin-right: 20px;
      right: 85px;
    }
    @media screen and (max-width: 766px) {
      right: -80px;
      transition: none;
    }
    @media screen and (max-width: 530px) {
      right: -50px;
    }
    @media screen and (max-width: 470px) {
      right: -20px;
    }
  }

  &__content {
    max-width: 276px;
    margin-left: 44px;
    margin-top: 65px;
    @media screen and (max-width: 865px) {
      margin-left: 11px;
    }
    @media screen and (max-width: 766px) {
      order: 0;
      margin-left: 11px;
    }

    &-list {
      list-style: none;
    }

    &-item {
      margin: 20px 0 0 1px;
    }

    &-item > button {
      @include btn;
      padding: 11px 23px;
      margin-top: 1px;
      @media screen and (max-width: 766px) {
        font-size: 14px;
        line-height: 19px;
        padding: 8px 20px;
      }
    }

    &-title {
      width: 307px;
      font-size: 40px;
      font-weight: 700;
      font-family: "Montserrat", Arial, sans-serif;
      line-height: 44px;
      @media screen and (max-width: 766px) {
        font-size: 36px;
        line-height: 40px;
      }
    }
  }

  &__text {
    font-size: 20px;
    font-weight: 400;
    font-family: "Crimson Text", Arial, sans-serif;
    line-height: 26px;
    margin-top: -11px;
    @media screen and (max-width: 766px) {
      font-size: 18px;
      line-height: 24px;
    }
  }

  &__additional {
    &-info {
      display: flex;
      justify-content: center;
      position: absolute;
      top: 90.4%;
      height: 39px;
      align-items: center;
      background-color: #c29974;
      max-width: 1180px;
      height: fit-content;
      width: 100%;
    }
    &-text {
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 12px;
      font-weight: 700;
      line-height: 17px;
      color: #ffffff;
      text-transform: uppercase;
      margin: 13px 20px;
      text-align: center;
    }
  }
}

.slider {
  margin-top: 90px;
  width: 100%;
  position: relative;
  overflow: hidden;

  &__title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    padding-top: 2px;
    margin-bottom: 30px;
    font-size: 38px;
  }

  &__list {
    list-style: none;
    text-decoration: none;
    display: flex;
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 26px;
    font-weight: 700;
    width: 1180px;
    gap: 13px;
  }

  &__buttons {
    display: flex;
    margin-top: 30px;
    & > button {
      position: relative;
      background-color: #70bbdc33;
      border: 0;
      height: 37px;
      width: 37px;
      margin-top: 3px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  &__leftBtn {
    transform: rotate(180deg);
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
  }

  &__rightBtn {
    background-image: url(../img/arrow.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 6px;
  }

  &__text {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    width: 580px;
    margin-left: 20px;
    line-height: 22px;

    @media screen and (max-width: 845px) {
      font-size: 14px;
    }
  }
}

.features {
  width: 100%;
  margin: auto;
  margin-top: 90px;
  display: flex;

  @media screen and (max-width: 573px) {
    flex-direction: column;
    justify-self: start;
  }

  &__img {
    width: 480px;
    height: 559px;
    @media screen and (max-width: 865px) {
      content: url("../img/deliverytablet.jpg");
      width: 258px;
      height: 512px;
    }
    @media screen and (min-width: 865px) {
      content: url("../img/DeliveryImage.jpg");
      width: 480px;
      height: 559px;
    }
    @media screen and (max-width: 573px) {
      content: url("../img/deliverymobile.jpg");
      width: 335px;
      height: 357px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-left: 120px;
    margin-top: 31px;
    gap: 1px;
    @media screen and (max-width: 952px) {
      margin-left: 96px;
    }
    @media screen and (max-width: 573px) {
      margin-left: 0;
    }
  }

  &__title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
  }

  &__btn {
    font-family: "Crimson Text", Arial, sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 34px;
    border: none;
    background-color: transparent;
    padding-left: 60px;
    margin-left: -60px;
    @media screen and (max-width: 952px) {
      font-size: 24px;
    }
  }

  &__active {
    font-family: "Crimson Text", Arial, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 34px;
    background-color: #70bbdc33;
    text-align: start;
    max-width: 327px;
    width: 100%;
    height: 55px;
    margin-top: 5px;
    // padding-left: 60px;
    @media screen and (max-width: 952px) {
      font-size: 24px;
    }
  }

  &__guarantee {
    margin-top: 9px;
  }

  &__credit {
    margin-top: 20px;
  }

  &__description {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    max-width: 480px;
    line-height: 22px;
    @media screen and (max-width: 952px) {
      font-size: 14px;
      line-height: 19px;
    }

    &-overflow {
      max-height: fit-content;
    }
  }

  &__margin {
    margin-top: 31px;
    margin-bottom: 17px;
    @media screen and (max-width: 845px) {
      margin-top: 20px;
    }
  }

  &__link {
    @include btn;
    padding: 9px 22px;
  }

  &__item {
    &-link {
      margin-top: 36px;
    }
  }
}

.sponsors {
  max-width: 1179px;
  margin: 91px auto 90px;

  &__title {
    opacity: 0;
    position: absolute;
  }

  &__list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-between;
    max-width: 1179px;
    @media screen and (max-width: 466px) {
      flex-wrap: wrap;
      gap: 15px;
    }
  }

  &__item {
    @media screen and (max-width: 466px) {
      max-width: 200px;
      width: 40%;
      text-align: center;
    }
  }

  &__img {
    @media screen and (max-width: 962px) {
      width: 150px;
      height: auto;
    }
    @media screen and (max-width: 768px) {
      width: 106px;
      height: auto;
    }
  }
}

.info {
  max-width: 1180px;
  width: 100%;
  margin: auto;
  display: flex;
  margin-bottom: 155px;
  min-height: fit-content;
  @media screen and (max-width: 962px) {
    justify-content: center;
  }
  @media screen and (max-width: 706px) {
    flex-wrap: wrap;
  }

  &__article {
    @media screen and (max-width: 962px) {
      width: 314px;
      height: 302px;
    }
  }

  &__text {
    max-width: 483px;
  }

  &__aboutUs {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    max-width: 543px;
    width: 100%;
    height: fit-content;
    background-color: #e1f0f7;
    margin-top: 22px;
    @media screen and (max-width: 962px) {
      max-width: fit-content;
    }
    @media screen and (max-width: 706px) {
      margin-left: 0px;
      max-width: 100%;
      width: 100%;
      align-items: start;
    }

    &-text {
      font-family: "Open Sans", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      margin: 2px 0 0 30px;
      max-height: fit-content;
      @media screen and (max-width: 962px) {
        width: 279px;
        max-height: fit-content;
        margin: 2px 0 0 15px;
      }
      @media screen and (max-width: 706px) {
        width: 90%;
      }
      @media screen and (max-width: 706px) {
        font-size: 14px;
      }
    }
  }

  &__title {
    font-family: "Montserrat", Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    margin-top: -24px;
    margin-left: 30px;
    @media screen and (max-width: 962px) {
      font-size: 30px;
      margin-top: -18px;
      margin-left: 2%;
    }
    @media screen and (max-width: 706px) {
      font-size: 24px;
    }

    &-hidden {
      opacity: 0;
      position: absolute;
    }
  }

  &__subtitle {
    font-family: "Crimson Text", Arial, serif;
    font-weight: 400;
    font-size: 26px;
    margin-left: 30px;
    margin-top: 2px;
    @media screen and (max-width: 962px) {
      margin-left: 15px;
    }
    @media screen and (max-width: 706px) {
      font-size: 24px;
    }
  }

  &__link {
    @include btn;
    max-width: max-content;
    padding: 11px 22px;
    margin: 11px 0 27px 30px;
    @media screen and (max-width: 962px) {
      margin-left: 15px;
    }
    @media screen and (max-width: 706px) {
      font-size: 14px;
      line-height: 19px;
      padding: 8px 20px;
    }
  }

  &__contacts {
    position: relative;
    max-width: 543px;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 20px;
    margin-left: 57px;
    margin-top: 21px;
    background-color: #e1f0f7;
    @media screen and (max-width: 962px) {
      padding-bottom: 55px;
      max-width: fit-content;
    }
    @media screen and (max-width: 706px) {
      margin-left: 0px;
      max-width: 100%;
      width: 100%;
      align-items: start;
    }

    &-text {
      margin-left: 31px;
      font-family: "Open Sans", Arial, sans-serif;
      font-weight: 400;
      font-size: 16px;
      line-height: 22px;
      max-width: 483px;
      padding-right: 10px;
      @media screen and (max-width: 962px) {
        margin-left: 15px;
        width: 284px;
      }
      @media screen and (max-width: 706px) {
        width: 90%;
      }
      @media screen and (max-width: 706px) {
        font-size: 14px;
      }
    }
  }

  &__map {
    position: relative;
    margin: 0 0 -124px 30px;
    padding-top: 11px;
    height: 208px;
    margin-right: 30px;
    @media screen and (max-width: 962px) {
      width: 284px;
      height: 151px;
      margin: -15px auto -124px;
      padding-top: 11px;
    }
    @media screen and (max-width: 768px) {
      width: 284px;
      height: 151px;
      margin: -15px auto -124px;
      padding-top: 11px;
    }
    @media screen and (max-width: 706px) {
      min-width: 90%;
      margin: -15px auto -124px;
      height: 196px;
    }
  }
}
