.filter {
  background-color: #7d97da33;
  min-height: 245px;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 25px auto;
  @media screen and (max-width: 1176px) {
    min-height: 323px;
  }
  @media screen and (max-width: 765px) {
    min-height: 439px;
  }
  @media screen and (max-width: 900px) {
    margin-top: -20px;
  }
  @media screen and (max-width: 610px) {
    margin-top: -30px;
  }

  &__title {
    display: none;
  }
  &__form {
    display: flex;
    flex-wrap: wrap;
    // margin: 50px auto;
    padding: 42px 0px 45px;
    @media screen and (max-width: 765px) {
      gap: 25px;
    }
  }
  &__button {
    @include btn;
    height: 36px;
    width: 95px;
    margin: 37px 0 0 60px;
    padding: 0;
    @media screen and (max-width: 435px) {
      margin: 37px 0 0 20px;
    }
    @media screen and (max-width: 394px) {
      margin: 14px 0 0 121px;
    }
  }

  &__range {
    margin-top: 4px;
    margin-left: 5px;
    margin-right: 115px;
  }

  &__text {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 2px;
    @media screen and (max-width: 660px) {
      font-size: 14px;
    }
  }
  &__cost {
    &-text {
      margin-left: -5px;
      margin-top: -2px;
    }
  }
  &__list {
    list-style-type: none;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    @media screen and (max-width: 660px) {
      font-size: 14px;
    }
  }
  &__boxList {
    display: flex;
    flex-direction: column;
    margin-top: 6px;
    gap: 6.5px;
  }
  &__value {
    &-container {
      display: flex;
      justify-content: space-between;
      margin-top: 13px;
      font-family: "Open Sans", Arial, sans-serif;
      font-size: 16px;
      font-weight: 400;
    }
    &-left {
      margin-left: -5px;
    }
    &-right {
      margin-right: -13px;
    }
  }

  &__item {
    display: flex;
    justify-content: flex-start;
    margin-top: 12px;
  }

  &__span {
    &-color {
      position: absolute;
      margin-left: -30px;
      width: 19px;
      height: 19px;
      background-image: url(../img/chekbox/chekboxborder.svg);
    }
  }

  &__lable {
    padding-left: 30px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__input {
    &-checkbox {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      position: absolute;

      &:checked + .filter__span-color {
        background-image: url(../img/chekbox/Checked.svg);
      }

      &:checked ~ .filter__description {
        text-decoration: underline;
      }

      &:focus + .filter__span-color {
        background-image: url(../img/chekbox/Focus.svg);
      }

      &:checked:focus + .filter__span-color {
        background-image: url(../img/chekbox/Checked.svg);
      }

      &:disabled + .filter__span-color {
        background-image: url(../img/chekbox/Disabled.svg);
      }

      &:disabled ~ .filter__description {
        color: #908484;
        text-decoration: none;
      }
    }
  }
  &__colorDelivery {
    &-wrapper {
      display: flex;
      @media screen and (max-width: 765px) {
        min-width: 340px;
      }
      @media screen and (max-width: 394px) {
        min-width: 100%;
      }
    }
  }
  &__delivery {
    margin-left: 130px;
    margin-right: 96px;
    @media screen and (max-width: 1171px) {
      margin-right: 0;
    }
    @media screen and (max-width: 765px) {
      margin-left: 101px;
    }
  }

  &__radio {
    &-amount {
      display: flex;
      justify-content: space-between;
      @media screen and (max-width: 1171px) {
        max-width: 603px;
        width: 100%;
      }
      @media screen and (max-width: 410px) {
        flex-wrap: wrap;
      }
    }
  }
}

.radio {
  position: absolute;
  margin-left: -30px;
  width: 20px;
  height: 20px;
  background-image: url(../img/chekbox/radio.svg);

  &__list {
    margin-top: 19px;
  }

  &__input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: absolute;

    &:checked + .radio {
      background-image: url(../img/chekbox/activeradio.svg);
    }

    &:checked ~ .radio__description {
      text-decoration: underline;
    }

    &:checked:focus + .radio {
      background-image: url(../img/chekbox/activeradio.svg);
    }

    &:disabled + .radio {
      background-image: url(../img/chekbox/disabledradio.svg);
    }

    &:disabled ~ .radio__description {
      color: #908484;
    }

    &:disabled ~ .radio__description {
      text-decoration: none;
    }
  }

  &__label {
    padding-left: 31px;

    &:hover {
      text-decoration: underline;
    }
  }
}

input[type="range"].styled-slider {
  width: 188px;
  margin-top: 27px;
  -webkit-appearance: none;
}

/*progress support*/
input[type="range"].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type="range"].styled-slider:focus {
  outline: none;
}

/*webkit*/
input[type="range"].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 1em;
  background: #fdfdfd;
  border: 9px solid #c29974;
  box-shadow: none;
  margin-top: -10px;
}

input[type="range"].styled-slider::-webkit-slider-runnable-track {
  height: 4px;
  border: none;
  border-radius: 0;
  background: #00000080;
  box-shadow: none;
}

input[type="range"].styled-slider::-webkit-slider-thumb:hover {
  background: #ffffffe6;
  border-color: #c29974d6;
  cursor: pointer;
}

input[type="range"].styled-slider::-webkit-slider-thumb:active {
  background: #ffffffe6;
  border-color: #c29974d6;
  cursor: pointer;
}

input[type="range"].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#c29974, #c29974) 0 / var(--sx) 100% no-repeat,
    #00000080;
}

/*mozilla*/
input[type="range"].styled-slider::-moz-range-thumb {
  width: max(calc(2em - 8px - 8px), 0px);
  height: max(calc(2em - 8px - 8px), 0px);
  border-radius: 1em;
  background: #fdfdfd;
  border: 8px solid #c29974;
  box-shadow: none;
}

input[type="range"].styled-slider::-moz-range-track {
  height: 4px;
  border: none;
  border-radius: 0;
  background: #00000080;
  box-shadow: none;
}

input[type="range"].styled-slider::-moz-range-thumb:active {
  background: #ffffffe6;
  border-color: #c29974d6;
}

input[type="range"].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#c29974, #c29974) 0 / var(--sx) 100% no-repeat,
    #00000080;
}

input[type="range"].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type="range"].styled-slider::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: #fdfdfd;
  border: 8px solid #c29974;
  box-shadow: none;
  margin-top: 0;
  box-sizing: border-box;
}

input[type="range"].styled-slider::-ms-track {
  height: 4px;
  border-radius: 0;
  background: #00000080;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
}

input[type="range"].styled-slider::-ms-thumb:active {
  background: #ffffffe6;
  border-color: #c29974d6;
}

input[type="range"].styled-slider.slider-progress::-ms-fill-lower {
  height: 4px;
  border-radius: 0px 0 0 0px;
  margin: -undefined 0 -undefined -undefined;
  background: #c29974;
  border: none;
  border-right-width: 0;
}

.amount {
  position: absolute;
  width: 80px;
  height: 37px;
  margin-left: -80px;
  margin-top: -18px;

  &__list {
    max-width: 240px;
    width: 240px;
    height: 35px;
    display: flex;
    justify-content: space-around;
    background-color: #ffffff;
    align-items: center;
    margin-top: 17px;

    & p {
      margin-top: -8px;
    }
  }

  &__first {
    margin-left: 9px;
  }

  &__item {
    width: 42px;
    text-align: center;
  }

  &__input {
    display: flex;
    -moz-appearance: none;
    appearance: none;
    height: 35px;
    width: 80px;
    position: absolute;
    margin-left: -40px;
    margin-top: -18px;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &:checked + .amount {
      background-color: #f3d0db;
    }

    &:hover + .amount {
      background-color: #eddeeb;
      transition: 0.3s;
    }

    &:active + .amount {
      background-color: #f3d0db;
    }

    &:hover ~ .amount__description {
      color: #877379;
    }
  }

  &__label {
    position: absolute;
    width: 80px;
    height: 35px;
  }

  &__description {
    position: absolute;
  }
}

.goods {
  max-width: 1178px;
  margin: 0 auto 60px;

  &__title {
    opacity: 0;
    position: absolute;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    flex-wrap: wrap;
    row-gap: 45px;
    margin-top: 60px;
    margin-bottom: 79px;
    @media screen and (max-width: 660px) {
      max-width: 608px;
    }
  }

  &__item {
    position: relative;
    text-align: center;
    @media screen and (max-width: 1179px) {
      max-width: 300px;
    }
    @media screen and (max-width: 939px) {
      max-width: 225px;
    }
    @media screen and (max-width: 795px) {
      max-width: 203px;
    }
    @media screen and (max-width: 445px) {
      max-width: 160px;
    }

    &-low {
      margin-top: 4px;
    }
  }

  &__img {
    width: 100%;
  }

  &__product {
    &-link {
      position: absolute;
      text-decoration: none;
      text-transform: uppercase;
      color: #1e0606;
      right: 23%;
      top: 22%;
      font-family: "Montserrat", Arial, sans-serif;
      font-weight: 700;
      font-size: 26px;
      background-color: #e5eaf8;
      opacity: 0;
      line-height: 8;
      width: 55%;
      display: inline-block;
      text-align: center;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      &:hover {
        position: absolute;
        text-decoration: none;
        text-transform: uppercase;
        color: #1e0606;
        right: 23%;
        top: 22%;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 700;
        font-size: 26px;
        background-color: #e5eaf8;
        opacity: 90%;
        line-height: 8;
        width: 55%;
        display: inline-block;
        text-align: center;
        transition: 0.3s;
      }

      &:active {
        position: absolute;
        text-decoration: none;
        text-transform: uppercase;
        color: #1e0606;
        right: 23%;
        top: 22%;
        font-family: "Montserrat", Arial, sans-serif;
        font-weight: 700;
        font-size: 26px;
        background-color: #e5eaf8;
        opacity: 67%;
        line-height: 8;
        width: 55%;
        display: inline-block;
        text-align: center;
      }
    }
  }

  &__description {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin-top: 27px;
    @media screen and (max-width: 939px) {
      font-size: 12px;
    }
  }

  &__price {
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 19px;
    @media screen and (max-width: 939px) {
      font-size: 14px;
    }
    @media screen and (max-width: 445px) {
      font-size: 12px;
    }
  }

  &__pages {
    &-margin {
      margin-bottom: 58px;
    }
  }
}
