<header class="header container">
    <div class="header__leftblock">
        <a href="/" class="header__link-index"></a>
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li class="header__nav-item"><a href="./catalog.html" class="header__nav-link">CATALOG</a></li>
                <li class="header__nav-item"><a href="/" class="header__nav-link">ABOUT US</a></li>
                <li class="header__nav-item"><a href="./blog.html" class="header__nav-link">BLOG</a></li>
                <li class="header__nav-item"><a href="./animation.html" class="header__nav-link">ANIMATION</a></li>
                <li class="header__nav-item"><a href="./svg.html" class="header__nav-link">SVG</a></li>
                <li class="header__nav-item"><a href="/" class="header__nav-link">GRID</a></li>
            </ul>
        </nav>
    </div>
    <div class="header__menu">
        <button class="header__menu-btn">
            menu
        </button>
    </div>
    <ul class="header__row-list">
        <li class="header__row-item header__search-icon">
            <span class="header__search-hide"></span>
        </li>
        <li class="header__row-item header__row-contactus"><a class="header__link" href="./contact-us.html">CONTACT
                US</a></li>
    </ul>
</header>
