<div class="modal" id="modal">
    <div class="modal__body">
        <div class="modal__content">
            <a class="modal__close" href="#"></a>
            <form class="modal__form" action="#">
                <div class="modal__container-name wrapper">
                    <label class="modal__label" for="Name">Name</label>
                    <input class="modal__input modal__name" type="text" id="Name" placeholder="Ivan Ivanov">
                </div>
                <div class="modal__container-data wrapper">
                    <div class="modal__container-tel">
                        <label class="modal__label" for="Telephone">Phone</label>
                        <input class="modal__input modal__telephone" type="tel" id="Telephone">
                    </div>
                    <div class="modal__container-email">
                        <label class="modal__label" for="Email">Email</label>
                        <input class="modal__input modal__email" type="text" id="Email">
                    </div>
                </div>
                <div class="modal__container-message wrapper">
                    <label class="modal__label" for="Message">Message</label>
                    <textarea class="modal__textaria" name="#" id="Message" cols="30" rows="10"></textarea>
                </div>
                <div class="modal__container-description wrapper">
                    <input class="modal__input-checkbox" type="checkbox" id="checkbox">
                    <span class="modal__span"></span>
                    <label class="modal__label modal__description-label" for="checkbox">By clicking on the
                        button, you
                        consent to the processing of
                        your personal data</label>
                </div>
                <button class="modal__submit" type="submit" disabled>Submit</button>
            </form>
        </div>
    </div>
</div>