<div class="pagination__pages"> <!--pages links-->
    <a href="#" class="pagination__arrow pagination__arrowleft"></a> <!--need to add arrows in css-->
    <ol class="pagination__pages-list">
        <li class="pagination__pages-item">
            <a class="pagination__pages-link" href="#">1</a>
        </li>
        <li class="pagination__pages-item">
            <a class="pagination__pages-link" href="#">2</a>
        </li>
        <li class="pagination__pages-item">
            <a class="pagination__pages-link" href="#">3</a>
        </li>
        <li class="pagination__pages-item">
            <a class="pagination__pages-link" href="#">4</a>
        </li>
    </ol>
    <a href="#" class="pagination__arrow pagination__arrowRight"></a> <!--need to add arrows in css-->
</div>